#board-container{
    position: relative;
    width:300px;
    border: 1px solid black;
    display:grid;
    grid-template-columns: 100px 100px 100px ;
    grid-template-rows: 100px 100px 100px;
    margin:auto;
    z-index: 2;
}

.board-cell{
    border: 1px solid black;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}

.board-cell:hover{
    cursor:pointer;
}

#lower-container {
    padding:1rem;
    display:grid;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: auto;
    justify-content: center;
    grid-column-gap: 2rem;;
}

#player-1{
    justify-self: start;
    padding:.5rem;
}

#player-2{
    justify-self: end;
    padding:.5rem;
}

.active{
    border: 2px solid green;
    border-radius: 1rem;
}

#new-game{
    background-color: rgb(61, 130, 170);
    color:white;
    border:2px solid white;
    border-radius: 1rem;
    cursor: pointer;
}

#win-message{
    text-align: center;
}
